.footer {
    background-color:  #2B3D58;
    padding-top: 30px;
    padding-bottom: 30px;

    li{
        list-style: none;
        margin-top: 15px;
           
    }
    .footer-link {
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        &:hover {
            color: #F16C7A;
        }
    }

    .footer-icons{
        margin-right: 10px;
    }

    .copyright{
        margin-top: 30px;
        .copyright-text{
            color: #ffffff;
            font-size: 14px;
        }

    }
    a{
        text-decoration: none;
    }
}