
.about-header{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color:  #126EF6;
    margin-top: 70px;
    .heading-one{
        color: #ffffff;
        font-weight: bold;
        font-size: 45px;
        margin-bottom: 50px

    }
    .paragraph-one{
        font-size: 16px;
        font-weight: 200px;
        color: #ffffff
    }

    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 68%);
    @media screen and (max-width: 768px){
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 76%);


        
    }
 

}

.section-mission{
    margin-top: -80px;
    padding-bottom: 200px;
    background-color:  #ffffff;
    .heading-one{
        color:  #252525;
        font-weight: bold;
        font-size: 45px;
        margin-bottom: 50px

    }
    .paragraph-one{
        font-size: 16px;
        font-weight: 200px;
        color:  #252525;
    }

   
}

.section-values{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color:  #F1F1F1;
    .heading-one{
        color:  #252525;;
        font-weight: bold;
        font-size: 45px;
        margin-bottom: 50px

    }
    .paragraph-one{
        font-size: 16px;
        font-weight: 200px;
        color: #213859;
    }

   

}


.section-offers{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color:  #ffffff;
    .heading-one{
        color: #252525;
        font-weight: bold;
        font-size: 45px;
        margin-bottom: 50px

    }
    .heading-two{
        color: #252525;
        font-weight: 500;
        text-decoration: underline;
        font-size: 25px;
        margin-bottom: 50px

    }
    .paragraph-one{
        font-size: 16px;
        font-weight: 200px;
        color: #252525
    }


}

.section-enroll{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color:   #2E3E49;
   a{
       text-decoration: none;
       padding: 10px 40px;
       color: white;
       font-size: 16px;
       font-weight: 200;
       background-color: #126EF6;
       border: none;
       border-radius: 5px;

       &:hover{
           opacity: 0.7;
       }
   }


   .heading-one{
       color: #ffffff;
       font-size: 50px;
       font-weight: bold
   }

   @media screen and (max-width: 768px){
       .heading-one{
           font-size: 45px;
       }
       
   }

}