@import '../styles/base/typography';
@import '../styles/abstracts/variables';
@import '../styles/abstracts/mixins';

.about-header{
    padding-top: $header-padding;
    padding-bottom: $header-padding;
    height: $header-height;
    background-color: $color-white;
    margin-top: $header-margin-top;

    .heading-one{
        font-style: normal;
        font-weight: 600;
        font-size: 80px;
        line-height: 96px;
        color: $color-black-1;
        margin: 0px;
    @include respond(tab-port) {
        line-height: 86px;
        font-size: 70px;
           

        }
    }

    .heading-three{
        padding-top: $header-text-padding-top;
        font-style: italic;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: $color-black-1;
        @include respond(tab-port) {
            margin-top:20px;

        }
    }
    .paragraph-one{
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: $color-black;
        padding-top: 5px;
    }

    .header-img{
        @include respond(tab-port) {
            padding-top:60px;
            text-align: center;

        }
    }
 

}

.section-about{
    background-color: $color-white;
    @include respond(tab-port) {
        margin-top: 300px;

    }
    .contents{
        padding-top: $header-padding;
        padding-bottom: $header-padding;

    }
    .paragraph-one{
        padding-top: 150px;
        font-style: normal;
        font-weight: $font-weight-300;
        font-size: 18px;
        line-height: 22px;
    }

   
}

