@import '../styles/base/typography';
@import '../styles/abstracts/variables';
@import '../styles/base/utilities';

.about-header{
    padding-top: $header-padding;
    padding-bottom: $header-padding;
    height: $header-height;
    background-color: $color-white;
    margin-top: $header-margin-top;

    .heading-one{
        font-style: normal;
        font-weight: 600;
        font-size: 80px;
        line-height: 96px;
        color: $color-black-1;
    }

    .heading-three{
        padding-top: $header-text-padding-top;
        font-style: italic;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: $color-black-1;
    }
    .paragraph-one{
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: $color-black;
    }
 

}

.section-about{
    background-color: $color-white;
    .contents{
        padding-top: $header-padding;
        padding-bottom: $header-padding;

    }
    .paragraph-one{
        padding-top: 150px;
        font-style: normal;
        font-weight: $font-weight-300;
        font-size: 18px;
        line-height: 22px;
    }

   
}

