@import '../styles/base/typography';
@import '../styles/abstracts/variables';
@import '../styles/base/utilities';

.contact-header {
    padding-top: $header-padding;
    padding-bottom: $header-padding;
    height: $header-height;
    background-color: $color-white;
    margin-top: $header-margin-top;

    .heading-one {
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        line-height: 72px;
        color: $color-blue;
        @include respond(phone) {
           margin-top: 80px;
           font-size: 50px;
           margin-bottom: 50px;
            text-align: center;
            line-height: 62px;
    
        }

    }

    .paragraph-one {
        font-style: normal;
        font-weight: $font-weight-300;
        font-size: 24px;
        line-height: 29px;
        color: $color-black;

    }

    .heading-three {
        color: #ffffff;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 20px
    }



    .contact-icons {
        margin-right: 10px;
    }

    a {
        text-decoration: none;
    }

    .btn-send {
        background-color: #ffffff;
        color: #252525;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 30px;
        border: none;
        border-radius: 10px;

        &:hover {
            opacity: 0.8;
        }
    }

    @media screen and (max-width: 768px) {
        .heading-two {
            text-align: center;
        }

        .heading-three {
            text-align: center
        }

        .paragraph-one {
            text-align: center
        }

        .social {
            text-align: center;
        }
    }
}
