@import '../styles/base/typography';
@import '../styles/abstracts/variables';

.header {
    padding-top: $header-padding;
    padding-bottom: $header-padding;
    height: $header-height;
    background-color: $color-white;
    margin-top: $header-margin-top;

    .small-text {
        color: $color-black;
        font-weight: $font-weight-300;
        font-style: $font-style-normal;
        font-size: $small-text-font-size;
    }

    .header-one {
        padding-top: $header-text-padding-top;
        color: $color-black-1;
        font-weight: bold;
        font-size: $heading-one-font-size;
        font-style: $font-style-normal;
        font-weight: $font-weight-500;
        line-height: 58px;

    }

    .header-btn {
        background-color: $color-yellow;
        color: $color-black;
        border-radius: $header-btn-border-radius;
        padding: $header-btn-padding-tb $header-btn-padding-lr;
        border: none;
        font-style: $font-style-normal;
        font-weight: $font-weight-500;
        font-size: $header-btn-font-size;
        line-height: 24px;

        &:hover {
            opacity: 0.7;
        }
    }

    .header-img {
        height: $header-img-height;
    }

}

.section-choose {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: $color-white;

    .heading-two {
        color: $color-black;
        font-weight: bold;
        padding-bottom: 20px;
        font-style: $font-style-normal;
        font-weight: $font-weight-500;
        font-size: $heading-two-font-size;
        line-height: 42px;
        margin-bottom: 50px;
    }

    .card {
        background: $color-white;
        box-shadow: 0px 0px 20px rgba(211, 211, 211, 0.35);
        border-radius: 10px;
        padding: 40px 10px;
        border: none;
        color: $color-black;
        img{
            height: 200px;
        }
        &:nth-of-type(2) {
            background: $color-blue;
            color: $color-white;
        }
        &:hover {
            background: $color-blue;
            color: $color-white;
            cursor: pointer;


        }
    }

    .card-title {
        font-style: normal;
        font-weight: $font-weight-500;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        padding: 20px 0px;

    }

    .card-text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;

    }

}

.section-offer {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: $color-white;

    .heading-two {
        color: $color-black;
        font-weight: bold;
        padding-bottom: 20px;
        font-style: $font-style-normal;
        font-weight: $font-weight-500;
        font-size: $heading-two-font-size;
        line-height: 42px;
        margin-bottom: 50px;
    }

    .paragraph-one {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: $color-black;
        padding-top: 30px;
    }


}

